*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.card{
    width: 40%;
    border-radius: 16px;
    padding: 40px 24px;
    box-shadow: 0px 3px 4px 2px #f2a1a9;
    background-image: linear-gradient(60deg, #f1565e, #df2f5d);
}
h2{
    font-size: 1.5em;
    margin-bottom: 6px;
    color: #fdfcfb;
}
h5{
    font-size: .96em;
    font-weight: 400;
    margin-bottom: 12px;
    color: #fdfcfb;
}
p{
    font-size: .9em;
    color: #fdfcfb;
}
button{
    box-shadow: -2px 3px 3px 2px #972442;
    transition: all .5s ease;
}
button:hover{
    transform: scale(.9);
}
.registration-1{
    text-align: center;
}
.registration-1 button{
    cursor: pointer;
    background: #fefffe;
    padding: 16px 48px;
    margin-top: 24px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-size: .8em;
    font-weight: 540;
}
.registration-2{
    display: flex;
}
.registration-2 button{
    width: 240px;
    height: 48px;
    background: transparent;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 540;
    border: 3px solid #ec6984;
    color: #fdfcfb;
    cursor: pointer;
}