

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body, html{
    height: 100%;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --f-family: "Poppins", sans-serif;

    /*Font Weights*/
    --fw-thin: 300;
    --fw-reg: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /*Font Sizes*/
    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 1.875rem;
    --fs-900: 2.25rem;

    /* Colors */
    --light-color: hsl(240, 100%, 100%);
    --dark-color: hsl(256, 70%, 15%);
    --accent-color: hsl(44, 91%, 61%);
    --bg-color: hsl(222, 100%, 97%);
    --shadow-color: hsl(216, 35%, 86%);
}

/*------ UTILITY CLASSES ------*/
.fs-xlight{
    font-size: var(--fs-100);
}
.fs-light{
    font-size: var(--fs-200);
}
.fs-thin{
    font-size: var(--fs-300);
}
.fs-regular{
    font-size: var(--fs-400);
}
.fs-medium{
    font-size: var(--fs-500);
}
.fs-sbold{
    font-size: var(--fs-600);
}
.fs-bold{
    font-size: var(--fs-700);
}
.fs-xbold{
    font-size: var(--fs-800);
}
.fs-dark{
    font-size: var(--fs-900);
}
.fw-300{
    font-weight: var(--fw-thin);
}
.fw-400{
    font-weight: var(--fw-reg);
}
.fw-500{
    font-weight: var(--fw-medium);
}
.fw-600{
    font-weight: var(--fw-semibold);
}
.fw-700{
    font-weight: var(--fw-bold);
}
.lh-heading{
    line-height: 1.2rem;
}
.lh-body{
    line-height: .8rem;
}
.bg-light{
    background: var(--light-color);
}
.bg-dark{
    background: var(--dark-color);
}
.bg-accent{
    background: var(--bg-color);
}
.bg-transparent{
    background: transparent;
}
.color-60{
    color: var(--dark-color);
}
.color-30{
    color: var(--light-color);
}
.color-10{
    color: var(--accent-color);
}
.txt-wrap{
    text-wrap: balance;
}
.align-right{
    text-align: right;
}
.align-ctr{
    text-align: center;
}
.item-ctr{
    margin-inline: auto;
}
.deco-none{
    text-decoration: none;
}
.spacer-block{
    margin-block: .8em;
}
.spacer-inline{
    margin-inline: .5em;
}
.flex-wrap-rows{
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.flex-1{
    flex: 100%;
}
.jc-space-btwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
/*----- CUSTOM STYLING -----*/
body{
    padding: .5em;
    background: var(--bg-color);
}
.container{
    font-family: var(--f-family);
    max-width: 960px;
    margin-inline: auto;
    position: relative;
    padding: 1.5em;
    border-radius: .5em;
}
.input-wrap{
    border: 1px solid var(--dark-color);
    padding-left: .5em;
    border-radius: .5em;
    overflow: hidden;
}
.input-wrap input{
    width: 100%;
    padding: .8em .5em;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
}
.chk-box{
    text-wrap: nowrap;
}
.chk-box input[type='checkbox']{
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}
.dropdown{
    min-width: 10em;
}
.select{
    padding: .8em .5em;
    border-radius: .5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.select-active{
    background: var(--dark-color);
    color: var(--light-color) !important;
}
.menu{
    padding: .5em;
    border-radius: .5em;
    position: absolute;
    display: none;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: -2px 4px 6px 3px var(--shadow-color);
}
.menu-active{
    display: block;
    opacity: 1;
}
.caret{
    transition: all .3s ease-in-out;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu li{
    padding: .7em .5em;
    border-radius: .5em;
    margin-block: .2em;
}
.menu li.active{
    background: var(--bg-color);
}
.content{
    max-width: 400px;
    border-radius: .5em;
    padding: 1em;
    margin-left: auto;
    margin-top: 5em;
    box-shadow: -4px 8px 12px 4px var(--shadow-color);
}
.img-block{
    width: 5.6em;
    height: 5.6em;
    border-radius: .5em;
    background: var(--shadow-color);
}
ul.tags li{
    display: inline-block;
    margin: .2em;
    background: var(--bg-color);
    padding: .25em .5em;
    border-radius: .5em;
}

/*---------- MEDIA QUERIES ----------*/
@media (max-width: 768px) {
    .container{
        max-width: 100%;
        padding: 1em .5em;
    }
    .input-wrap{
        width: 100%;
    }
    .flex-wrap-rows{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .flex-1{
        flex: 0;
    }
}
@media (max-width: 475px){
    .container{
        max-width: 100%;
        padding: 1em .3em;
    }
    .flex-1{
        flex: 1;
    }
}