
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111841;
}
.container{
    background: #171e52;
    width: 540px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 4px #0f1234;
}
.container h2{
    color: #f2fbfe;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: .3em;
    padding: 16px 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #060b29;
}
.container .count{
    color: #f8fefe;
    text-align: center;
    position: absolute;
    top: 47%;
    left: 40%;
    margin-left: 4px;
    margin-bottom: 4px;
}
.count span.large{
    font-size: 3.2em;
    font-weight: 400;
}
.count span.text{
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .1em;
    display: block;
    margin-top: -12px;
}
.card{
    display: flex;
    flex-direction: row;
}
.chart{
width: 320px;
height: auto;
}
.data{
    align-self: center;
}
.data > ul > li{
    list-style: none;
    line-height: 2.0em;
    font-size: .9em;
    color: #c3c9e3;
}
.data > ul > li > span{
    padding: 1px 6px;
    border-radius: 16px;
    color: #0f1234;
}
span.d1{
    background: rgba(184, 105, 200, 255);
    margin-right: 4px;
}
span.d2{
    background: rgba(235, 65, 123, 255);
}
span.d3{
    background: rgba(237, 109, 0, 255);
}
span.d4{
    background: rgba(253, 216, 65, 255);
    margin-right: 9px;
}
span.d5{
    background: rgba(102, 240, 172, 255);
    margin-right: 9px;
}
