*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}
header{
    max-width: 1536px;
    padding: 16px 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: all .4s ease;
}
a:hover{
    color: #ff8158;
    font-weight: 600;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 16px;
    font-size: 1.125rem;
    position: relative;
}
nav ul li a.active-dot::after{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    text-align: center;
    color: red;
}
.wrapper{
    margin-right: 12px;
}
.wrapper button{
    background: transparent;
    border: 1.6px solid #353739;
    padding: 8px 16px;
    border-radius: 24px;
    font-size: 1.125rem;
    margin-right: 12px;
    cursor: pointer;
    transition: all 1s ease;
}
.wrapper button:hover{
    background: #ffb658;
}
.wrapper span{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #ed4f7d;
    color: #feecf6;
    border-radius: 50%;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 6px 6px;
    text-align: center;
    transition: all .4s ease;
}
.wrapper span:hover{
    font-size: 1.5rem;
}
main.container{
    max-width: 1536px;
    padding: 1rem 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
.side-bar{
    background: #252531;
    float: left;
    max-width: 220px;
    height: 680px;
    padding: 16px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar h2{
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 200;
    margin-bottom: 10px;
    padding-left: .2rem;
    color: #e3e3e6;
}
.side-bar ul li{
    list-style: none;
    line-height: 2.4rem;
    font-size: 1.0rem;
    color: #e3e3e6;
    cursor: pointer;
    transition: all .4s ease;
}
.side-bar ul li:hover{
    font-size: .9rem;
}
.side-bar ul li:nth-child(1)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #ffb658;
}
.side-bar ul li:nth-child(2)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #ff8158;
}
.side-bar ul li:nth-child(3)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #56aefa;
}
.side-bar ul li:nth-child(4)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #ae59ff;
}
.side-bar ul li:nth-child(5)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #9ece46;
}
.side-bar ul li:nth-child(6)::before{
    content: ".";
    font-size: 1.9rem;
    font-weight: 900;
    color: #ee5f9a;
}
.side-bar ul li a{
    font-weight: 600;
    letter-spacing: .06em;
    color: #5185bb;
    padding-left: 8px;
    transition: all .2s ease;
}
.side-bar ul li a:hover{
    color: #ff8158;
    font-weight: 900;
}
.side-bar .card{
    background: #3a3d52;
    padding: 12px 16px;
    border-radius: 16px;
}
.side-bar .card h2{
    text-transform: none;
    font-weight: 600;
    margin-bottom: 12px;
}
.side-bar .card p{
    font-size: .9rem;
    color: #e3e3e6;
}
.side-bar .card button{
    background: #fffefe;
    border: none;
    width: 100%;
    padding: 8px 0;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
    letter-spacing: .04rem;
    transition: all 1s ease;
}
.side-bar .card button:hover{
    background: #ffb658;
}
section.content{
    width: 768px;
    margin-left: 16px;
    padding: 16px 16px;
    display: inline-block;
}
.content h2.card-header{
    font-weight: 600;
    font-size: 1.6rem;
}
.projects-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1.2rem;
    gap: 24px;
}
.projects-card .card{
    cursor: pointer;
}
.projects-card .card h2{
    width: 140px;
    font-size: 3.2rem;
    font-weight: 900;
    border: 1px solid black;
    padding: 24px 0;
    border-radius: 18px;
    color: #fdfffb;
}
.projects-card .card h2.one{
    background: #56aefa;
    box-shadow: 0px 3px 8px 3px #56aefa;
    transition: all 1s ease;
}
.projects-card .card h2.one:hover{
    box-shadow: 0px 3px 8px 10px #56aefa;
}
.projects-card .card h2.two{
    background: #ff8158;
    box-shadow: 0px 2px 8px 3px #ff8158;
    transition: all 1s ease;
}
.projects-card .card h2.two:hover{
    box-shadow: 0px 3px 8px 10px #ff8158;
}
.projects-card .card h2.three{
    background: #ffb658;
    box-shadow: 0px 2px 8px 3px #ffb658;
    transition: all 1s ease;
}
.projects-card .card h2.three:hover{
    box-shadow: 0px 3px 8px 10px #ffb658;
}
.projects-card .card h2.four{
    background: #ae59ff;
    box-shadow: 0px 3px 8px 3px #ae59ff;
    transition: all 1s ease;
}
.projects-card .card h2.four:hover{
    box-shadow: 0px 3px 8px 10px #ae59ff;
}
.projects-card .card h2.five{
    background: palegoldenrod;
    box-shadow: 0px 3px 8px 3px palegoldenrod;
    transition: all 1s ease;
    color: #666973;
    font-weight: 100;
}
.projects-card .card h2.five:hover{
    box-shadow: 0px 3px 8px 10px palegoldenrod;
}
.projects-card .card p{
    font-size: 1.0rem;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}
footer{
    float: right;
    padding: 1em 1em;
    position: absolute;
    bottom: 24px;
    right: 0;
}
footer ul li{
    display: inline-block;
    list-style: none;
    margin-right: 8px;
    font-size: 1.125em;
}
footer ul li a{
    color: black;
}
footer ul li a i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 8px;
    width: 32px;
    height: 32px;
    text-align: center;
}